* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #f1f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input-field input:focus {
    border-color: #0a0a0a;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #3305d6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #3305d6;
}

.signup-link {
    margin-top: 10px;
}

.signup-link a {
    text-decoration: none;
    color: darkblue;
}
.Admin-btn{
    background-color: darkgrey;
    color: white;
    width: 100;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

