body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 325px;
    color: black;
}

h2 {
    text-align: center;
    margin-bottom: 45px;
}

.form-group {
    margin-bottom: 15px;
    width: 300px; ;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkred;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}
.success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
}

